<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
      <h4>DASHBOARD</h4>
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
      <section class="product_form">
        <%= render 'shared/product_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>


<% else %>
<div class="center jumbotron">
  <h1>MOM N POPS</h1>

  <h4>
    SHOP OUTSIDE THE BOX
  </h4>

<h3>

  SUPPORT LOCAL BUSINESSES & CAUSES
</h3>
  <%= link_to "Get Started as a Vendor", new_vendor_path , class: "btn btn-lg btn-info" %>
  <%= link_to "Get Started as a Community Organization", new_org_path , class: "btn btn-lg btn-warning" %>
</div>


<% end %>